/*------------------------------------*\
  #Dashboard
\*------------------------------------*/
.dashboard{
    padding: 120px 20px 20px 20px;
    text-align: justify;
    display: grid;
    gap: 20px;

    grid-template-areas:
    "title"
    "introduction"
    "bars"
    "doughnut"
    "linedb";

    &__container{
        container-name: db-container;
        container-type: inline-size;
        width: 100%;
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
        
        width: 100%;
        max-width: 100%;
        border: 1px solid $main-color;
        border-radius: 10px;
        padding: 10px;
        margin: 0 auto;
    }

    
    /*------------------------------------*\
    #Container Queries
    \*------------------------------------*/
    @container db-container (min-width: 1500px) {
        &__item{
            flex-direction: row;
            height: 70cqh;
        }
    }
}

/*------------------------------------*\
#TABLET-DESKTOP LAYOUT
\*------------------------------------*/
@media(min-width: $tablet-mq){
    .dashboard{

        grid-template-areas:
        "title title"
        "introduction introduction"
        "bars doughnut"
        "linedb linedb";


        &__title{
            grid-area: title;
        }
    
        &__introduction{
            grid-area: introduction;
        }
    
        &__bars{
            grid-area: bars;
        }
    
        &__line{
            grid-area: linedb;
        }
    
        &__doughnut{
            grid-area: doughnut; 
        }

        &__doughnut-canva{
            width: 27.5vw !important;
            height: 100% !important;
        }
    
    }

}

@media(min-width: $desktop-mq){
    .dashboard{

        &__doughnut-canva{
            width: 23.6vw !important;
        }
    
    }

}