/*------------------------------------*\
  #General
\*------------------------------------*/
.body{
    height: 100vh;
    background-color: $main-bg;
}

.title{
    z-index: 3;
    font-family: $font-family-title;
    color: $main-color;

    &--light{
        color: white;
    }
}

.btn{
    font-size: 0.75rem;
}

/*------------------------------------*\
#TABLET-DESKTOP LAYOUT
\*------------------------------------*/

/*------------------------------------*\
#TABLET - DESKTOP
\*------------------------------------*/
@media(min-width: $tablet-mq){
    .btn{
        font-size: 1rem;
    }
}


