/*------------------------------------*\
  #Code able to be executed in all browsers
\*------------------------------------*/
.front-page{
  padding: 120px 20px 20px 20px;
  text-align: justify;
  background-image: url('../images/bg-coins.png');
  container-type: inline-size;
  container-name: front-page-container;
  width: 100%;

  background-position:90% 20%;
  background-size: auto;

  &__presentation{
    background-color: add-alpha($main-bg, 0.7);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    margin-bottom: 20px; //Separation between elements in older browsers
    min-width: 50vw;
  }

  &__presentation--bold{
    color: $main-color;
  }

  &__title{
    font-family: $font-family-title;
    color: $font-color;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px; //Separation between elements in older browsers
  }

  &__img{
    width: 70%;
  }

  &__calendar{
    font-weight: bold;
    margin-bottom: 20px; //Separation between elements in older browsers
  }

  &__calendar-item{
    background-color: add-alpha($main-bg, 0.7);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    container-type: inline-size;
    container-name: calendar-item-container;
    width: 100%;
    min-width: 15vw;
  }

  &__calendar-item-body{
    border-radius: 10px;
    border: 1px solid $main-color;
  }
}

.carousel{
  max-width: 500px;
  margin-bottom: 20px; //Separation between elements in older browsers
}

.carousel-item{
  &__img{
    width: 100%;
    height: 250px;     
    height: auto;      
    object-fit: cover;
    filter: brightness(50%);
  }
}

/*------------------------------------*\
  #Container Queries
\*------------------------------------*/
@container front-page-container (min-width: 500px) {
  .front-page__presentation {
    font-size: 1.8cqw;
    text-align: center;
  }
}

@container calendar-item-container (min-width: 200px) {
  .front-page__calendar-item-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
  }
}

/*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
\*------------------------------------*/

/*------------------------------------*\
#DESKTOP
\*------------------------------------*/
@media(min-width: $desktop-mq){
  .front-page{

    background-size: cover;
    background-position: 10% 15%;

    &__separator{
      width: 40vw;
    }
  }
}

/*------------------------------------*\
  #Code able to be executed in browsers that supports display grid
\*------------------------------------*/
@supports (display: grid) {
  .front-page{
    display: grid;
    grid-template-columns: 1fr;

    row-gap:20px;
    column-gap: 40px;
   
    grid-template-areas: 
    "title"
    "presentation"
    "calendar"
    "carousel";
  
    &__presentation{
      grid-area: presentation;
      margin-bottom: 0; //Reset
    }
   
    &__title{
      grid-area: title;
      justify-self: center;
      margin-bottom: 0; //Reset
    }
  
    &__calendar{
      margin-bottom: 0; //Reset
      grid-area: calendar;
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      gap: 20px;
    }

  }
  
  .carousel{
    grid-area: carousel;
    justify-self: center;
    margin-bottom: 0; //Reset
  }

  /*------------------------------------*\
    #Container Queries
  \*------------------------------------*/

  
  /*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
  \*------------------------------------*/

  /*------------------------------------*\
    #TABLET
  \*------------------------------------*/
  @media(min-width: $tablet-mq){
    .front-page{
      grid-template-areas: 
      "title calendar"
      "presentation calendar"
      "carousel calendar";
    }
  }
}