/*------------------------------------*\
  #Code able to be executed in all browsers
\*------------------------------------*/
.front-page{
  padding: 120px 20px 20px 20px;
  text-align: justify;
  background-image: url('../images/bg-coins.png');
  container-type: inline-size;
  container-name: front-page-container;

  background-position:90% 20%;
  background-size: auto;

  &__presentation{
    background-color: add-alpha($main-bg, 0.7);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    margin-bottom: 20px; //Separation between elements in older browsers
  }

  &__presentation--bold{
    color: $main-color;
  }

  &__title{
    font-family: $font-family-title;
    color: $font-color;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px; //Separation between elements in older browsers
  }

  &__img{
    width: 70%;
  }
}

.carousel{
  max-width: 500px;
  margin-bottom: 20px; //Separation between elements in older browsers
}

.carousel-item{
  &__img{
    width: 100%;
    height: 250px;     
    height: auto;      
    object-fit: cover;
    filter: brightness(50%);
  }
}

/*------------------------------------*\
  #Container Queries
\*------------------------------------*/
@container front-page-container (min-width: 500px) {
  .front-page__presentation {
    font-size: 1.2cqw;
    text-align: center;
  }
}

/*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
\*------------------------------------*/

/*------------------------------------*\
#DESKTOP
\*------------------------------------*/
@media(min-width: $desktop-mq){
  .front-page{

    background-size: cover;
    background-position: 10% 15%;

    &__separator{
      width: 40vw;
    }
  }
}

/*------------------------------------*\
  #Code able to be executed in browsers that supports display grid
\*------------------------------------*/
@supports (display: grid) {
  .front-page{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap:20px;
    column-gap: 40px;
   
    grid-template-areas: 
    "title"
    "presentation"
    "separator"
    "carousel";
  
    &__presentation{
      grid-area: presentation;
      margin-bottom: 0; //Reset
    }
   
    &__title{
      grid-area: title;
      margin-bottom: 0; //Reset
    }
  
    &__separator{
      grid-area: separator;
    }
  }
  
  .carousel{
    grid-area: carousel;
    margin-bottom: 0; //Reset
  }

  /*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
  \*------------------------------------*/

  /*------------------------------------*\
    #TABLET
  \*------------------------------------*/
  @media(min-width: $tablet-mq){
    .front-page{
      place-items: center;

      grid-template-areas: 
      "title title"
      "presentation separator"
      "carousel separator";
    }
  }

  /*------------------------------------*\
  #DESKTOP
  \*------------------------------------*/
  @media(min-width: $desktop-mq){
    .front-page{
      grid-template-areas: 
      "title separator"
      "presentation separator"
      "carousel separator";
    }
  }
}