.front-page{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 120px 20px 20px 20px;
  text-align: center;
  background-image: url('../images/bg-forest.jpg');
  background-size: cover;

  grid-template-areas: 
  "title"
  "logo"
  "presentation"
  "carousel";

  &__logo{
    grid-area: logo;
    width: 70%;
  }

  &__presentation{
    grid-area: presentation;
    background-color: $main-bg;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
  }

  &__presentation--bold{
    color: $main-color;
  }

  &__title{
    grid-area: title;
    font-family: $font-family-title;
    color: $font-color;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    
  }

  
}

.carousel{
  max-width: 500px;
  grid-area: carousel;
}

.carousel-item{
  &__img{
    width: 500px;
    height: 250px;     
    height: auto;      
    object-fit: cover;
    filter: brightness(50%);
  }
}

/*------------------------------------*\
  #TABLET-DESKTOP LAYOUT
\*------------------------------------*/

/*------------------------------------*\
  #TABLET
\*------------------------------------*/
@media(min-width: $tablet-mq){
  .front-page{
    place-items: center;

    grid-template-areas: 
    "title title"
    "presentation logo"
    "carousel logo";

    &__logo{
      grid-area: logo;
      width: 100%;
    }
  }
}

/*------------------------------------*\
#DESKTOP
\*------------------------------------*/
@media(min-width: $desktop-mq){
  .front-page{
    place-items: center;

    grid-template-areas: 
    "title logo "
    "presentation logo"
    "carousel logo";
  }
}