/*------------------------------------*\
  #Speakers
\*------------------------------------*/
.main-content{
    padding: 120px 0px 20px 0px;
    margin: 0% 10% 0% 10%;
    container-type: inline-size;
    container-name: card-group-container;
}

.card{
    text-align: justify;
    border: none;
    container-type: inline-size;
    container-name: card-container;  
    width: 100%;
}

/*------------------------------------*\
  #Container Queries
\*------------------------------------*/
@container card-group-container (min-width: 800px) {
    .card{
        flex: 0 0 calc(50% - 2rem);
    }
}

@container card-group-container (min-width: 1240px) {
    .card{
        flex: 0 0 calc(33.333% - 2rem);
    }
}

@container card-container (min-width: 500px) and (max-width: 780px) {
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top{
        width: 100%;
        min-width: 300px;
    }
}