/*------------------------------------*\
  #Speakers
\*------------------------------------*/
.main-content{
    padding: 120px 0px 20px 0px;
    margin: 0% 10% 0% 10%;
    container-type: inline-size;
    container-name: card-container;
}

.card-container{
    max-width: 100%;
    height: 100%;
}

.card{
    text-align: justify;
    border: none;
    
}

/*------------------------------------*\
  #Container Queries
\*------------------------------------*/
@container card-container (min-width: 800px) {
    .card-container{
        flex: 0 0 calc(50% - 2rem);
    }
}

@container card-container (min-width: 1240px) {
    .card-container{
        flex: 0 0 calc(33.333% - 2rem);
    }
}