<footer class="footer py-4 px-5 d-flex flex-column flex-md-row row-gap-3 justify-content-between align-items-center">
  <img class="footer__logo" src="./assets/images/economia-circular.png" alt="Logo that represents circular economy" />
  <nav class="footer__nav">
    <button type="button" class="btn btn-primary">Welcome</button>
    <button type="button" class="btn btn-primary">Participants</button>
    <button type="button" class="btn btn-primary">Articles</button>
    <button type="button" class="btn btn-primary">Activites</button>
  </nav>
  <nav class="footer__social-networks">
    <i class="bi-facebook"></i>
    <i class="bi-twitter-x"></i>
    <i class="bi-instagram"></i>
    <i class="bi-whatsapp"></i>
  </nav>
</footer>
